body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
}

.header {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.header-style {
    text-decoration: none;
    color: white;
    display: inline-block;
}


.header-logo {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.header-nav {
    display: flex;
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 10px;
}

.header-login,
.header-signup,
.header-logout,
.header-search {
    margin-left: 10px;
    margin-bottom: 7px;
}

.header-login a:hover,
.header-signup a:hover,
.header-logout a:hover {
    opacity: 0.8;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.header-search {
    order: 2;
    color: white;
}

.header-login {
    order: 3;
}

.header-signup {
    order: 4;
}

.header-signup,
.header-logout {
    margin-right: 10px;
}


#post-update-box {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

/*.post-container {*/
/*    max-width: 600px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*    background-color: #ffffff;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.post-register-box {
    width: 50%;
    margin-top: 4%;
    margin-left: 25%;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #6a6259;
    border-radius: 5px;
}

.postDto-box {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5%;
    padding: 10px;
    border: 1px solid #6a6259;
    background-color: #ffffff;
}

.postDto-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.postDto-nickname {
    font-weight: bold;
    margin-right: 10px;
    width: auto;
}

.postDto-createdAt,
.postDto-modifiedAt {
    font-size: 12px;
    color: #888888;
    margin-right: 10px;
}

.postDto-divider {
    width: 95%;
    height: 1px;
    margin: 10px auto;
    background-color: #ccc;
}

.postDto-body {
    margin-bottom: 10px;
}

.postDto-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.postDto-content {
    font-size: 14px;
    line-height: 1.5;
}

.postDto-tags {
    font-size: 12px;
    color: #888888;
    margin-bottom: 5px;
}

.postDto-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post-like-icon {
    font-size: 18px;
    color: #e74c3c;
    cursor: pointer;
    margin-right: 5px;
}

.postDto-postLike {
    font-size: 12px;
    color: #888888;
    margin-right: 10px;
}

.postDto-reply-btn {
    font-size: 12px;
    color: #888888;
    cursor: pointer;
}

.replyDto-btn,
#post-register-submit {
    padding: 8px 16px;
    font-size: 12px;
    background-color: gainsboro;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.replyDto-btn:hover,
#post-register-submit:hover {
    color: #fff;
    background-color: dimgrey;
}

.replyDto-updateInput,
.post-register-input,
.post-register-element {
    padding: 12px 16px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    transition: border-color 0.2s ease;
}

.replyDto-updateInput:focus,
.post-register-input:focus
.post-register-element:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.replyDto-like-unlike {
    display: inline-block;
}

.replyDto-replyLike {
    font-size: 12px;
    color: #888888;
    margin-right: 10px;
    display: inline-block;
    margin-left: 5px;
}
