body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: chartreuse;
    padding: 10px;
}

.header-logo {
    order: 1;
}

.header-search {
    order: 2;
    margin-right: 10px;
}

.header-login {
    order: 3;
    margin-right: 10px;
}

.header-signup {
    order: 4;
    margin-right: 10px;
}

.header-logout {
    order: 5;
}


#post-update-box {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.postDto-box {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.postDto-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.postDto-nickname {
    font-weight: bold;
    margin-right: 10px;
    width: auto;
}

.postDto-createdAt,
.postDto-modifiedAt {
    font-size: 12px;
    color: #888888;
    margin-right: 10px;
}

.postDto-divider {
    width: 95%;
    height: 1px;
    margin: 10px auto;
    background-color: #ccc;
}

.postDto-body {
    margin-bottom: 10px;
}

.postDto-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.postDto-content {
    font-size: 14px;
    line-height: 1.5;
}

.postDto-tags {
    font-size: 12px;
    color: #888888;
    margin-bottom: 5px;
}

.postDto-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.postDto-postLike {
    font-size: 12px;
    color: #888888;
    margin-right: 10px;
}

.postDto-reply-btn {
    font-size: 12px;
    color: #888888;
    cursor: pointer;
}

.replyDto-btn {
    padding: 8px 16px;
    font-size: 12px;
    background-color: gainsboro;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.replyDto-btn:hover {
    color: #fff;
    background-color: dimgrey;
}

.replyDto-updateInput {
    padding: 12px 16px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    transition: border-color 0.2s ease;
}

.replyDto-updateInput:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}


.replyDto-replyLike {
    font-size: 12px;
    color: #888888;
    margin-right: 10px;
}