<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/user.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <title>DTOGRAM SIGNUP</title>
</head>
<body>
<div id="signup-form">
    <div id="signup-body">
      <div id="login-title">Sign up<br>DTOGRAM</div>
      <br><br>
      <div>
        <div class="login-id-label">Username</div>
        <input type="text" name="username" id="username" placeholder="Username" class="login-input-box">

        <div class="login-id-label">Password</div>
        <input type="password" name="password" id="password" placeholder="Password" class="login-input-box">

          <div class="login-id-label">Nickname</div>
          <input type="nickname" name="nickname" id="nickname" placeholder="Nickname" class="login-input-box">

        <div class="login-id-label">E-mail</div>
        <input type="text" name="email" id="email" placeholder="E-mail" class="login-input-box">

        <div>
          <input id="admin-check" type="checkbox" name="admin" onclick="onclickAdmin()" style="margin-top: 40px;">ADMIN
          <input id="admin-token" type="password" name="adminToken" placeholder="ADMIN PASSWORD" class="login-input-box" style="display:none">
        </div>
        <button id="signup-id-submit" onclick="onSignup()">SIGNUP</button>
      </div>
    </div>
</div>
</body>

<script>
  function onclickAdmin() {
    // Get the checkbox
    var checkBox = document.getElementById("admin-check");
    // Get the output text
    var box = document.getElementById("admin-token");

    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
      box.style.display = "block";
    } else {
      box.style.display = "none";
    }
  }

  const host = 'http://' + window.location.host

  function onSignup() {
    let username = $('#username').val()
    let password = $('#password').val()
    let nickname = $('#nickname').val()
    let email = $('#email').val()
    let admin = $('#admin-check').is(':checked')
    let adminToken = admin === true ? $('#admin-token').val() : null
    $.ajax({
      type: 'POST',
      url: '/api/user/signup',
      contentType: "application/json",
      data: JSON.stringify({username: username, password: password, nickname: nickname, email: email, admin: admin, adminToken: adminToken}),
    })
        .done(function() {
            window.location.href = host + '/api/user/login-page'
        })
        .fail(function() {
            alert('Signup Fail')
        })

  }
</script>
</html>